.site-header{
    background-color: #da9844;
    color: aliceblue;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #985a0a 2px 5px 5px;
}

body{
    margin: 0;
}